.ticket-section {
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.ticket {
    width: 90%;
    height: auto;
    border: 1px solid grey;
    border-radius: 10px;
    align-self: center;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    padding: 2%;
    position: relative;
}

.ticket-title {
    align-self: center;
    font-weight: bold;
}

.date {
    position: absolute;
    right: 2%;
}