<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/boletas.css">
    <link rel="stylesheet" href="styles/inicio.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <title>Boletas</title>
</head>

<body>
    <div class='body'>
        <div class='title-section'>
            <h2 class='title'>Boletas</h2>
        </div>
        <div class='ticket-section'>
            <div class='ticket'>
                <div class="ticket-title"> Boleta de pago</div><br>
                <label>Nombre: Carlos Bodoque</label><br>
                <label>Monto: 1000Bs</label><br>
                <div class='date'>23/05/2019</div>
            </div>
            <div class='ticket'>
                <div class="ticket-title"> Boleta de pago</div><br>
                <label>Nombre: Carlos Bodoque</label><br>
                <label>Monto: 1000Bs</label><br>
                <div class='date'>23/05/2019</div>
            </div>
            <div class='ticket'>
                <div class="ticket-title"> Boleta de pago</div><br>
                <label>Nombre: Carlos Bodoque</label><br>
                <label>Monto: 1000Bs</label><br>
                <div class='date'>23/05/2019</div>
            </div>
        </div>
    </div>
</body>

</html>