<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/boletas.css">
    <link rel="stylesheet" href="styles/inicio.css">
    <title>Boletas</title>
</head>
<body>
    <div class='body'>
        <div class='title-section'>
            <h2 class='title'>Boletas</h2>
        </div>
        <div class='ticket-section'>
            <div class='ticket'>
                <div class="ticket-title"> Boleta</div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius dolorem, molestias doloremque adipisci quibusdam dolore error iure voluptates quia ab quam nobis consequuntur a aperiam ducimus quis, animi ratione. Aut.</p>
            </div>

            <div class='ticket'>
                <div class="ticket-title"> Boleta</div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius dolorem, molestias doloremque adipisci quibusdam dolore error iure voluptates quia ab quam nobis consequuntur a aperiam ducimus quis, animi ratione. Aut.</p>
            </div>

            <div class='ticket'>
                <div class="ticket-title"> Boleta</div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius dolorem, molestias doloremque adipisci quibusdam dolore error iure voluptates quia ab quam nobis consequuntur a aperiam ducimus quis, animi ratione. Aut.</p>
            </div>

        </div>
    </div>
</body>
</html>