<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/empleado.css">
    <link rel="stylesheet" href="styles/inicio.css">
    <title>Empleado</title>
</head>
<body>
    <div class='body'>
        <div class='title-section'>
            <h2 class='title'>Empleado nuevo</h2>
        </div>
        <div class="form-section">
            <form action="submit">
                <label for="nombre">Nombre:<input type="text" name="nombre" placeholder="Nombre"/></label>
                <label for="apellido">Apellido:<input type="text" name="apellido" placeholder="Apellido"/></label>
                <label for="celular">Celular:<input type="number" name="celular" placeholder="Celular"/></label>
                <label for="correo">Correo:<input type="email" name="correo" placeholder="Correo"/></label>
                <label for="pago">Metodo de pago:<select name="pago">
                        <option>Efectivo</option>
                        <option>Deposito bancario</option>
                        <option>Cheque</option>
                </select></label>
                <button type="submit" class='save-button'>Crear</button>
            </form>
        </div>
    </div>
</body>
</html>