<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/inicio.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <title>Inicio</title>
</head>

<body>
    <div class='body'>
        <div class="button-section">
            <button class="button">Registrar empleado</button>
            <button class="button">Generar boletas</button>
        </div>
        <div class='title-section'>
            <h2 class='title'>Lista de empleados</h2>
        </div>
        <div class='table-section'>
            <table class='table'>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Celular</th>
                    <th>Opciones</th>
                </tr>
                <tr>
                    <td>Juan Carlos</td>
                    <td>Bodoque</td>
                    <td>jbodoque@31minutos.cl</td>
                    <td>77777777</td>
                    <td>
                        <i class="far fa-edit icon"></i>
                        <i class="far fa-trash-alt icon"></i>
                    </td>
                </tr>
                <tr>
                    <td>Juan Carlos</td>
                    <td>Bodoque</td>
                    <td>jbodoque@31minutos.cl</td>
                    <td>77777777</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Juan Carlos</td>
                    <td>Bodoque</td>
                    <td>jbodoque@31minutos.cl</td>
                    <td>77777777</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Juan Carlos</td>
                    <td>Bodoque</td>
                    <td>jbodoque@31minutos.cl</td>
                    <td>77777777</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>