<div class='body'>
    <div class="button-section">
            <a href = "#!/"><button class="button">Volver</button></a>
    </div>
    <div class='title-section'>
        <h2 class='title'>Boletas</h2>
    </div>
    <div class='ticket-section' ng-repeat="boleta in listaBoletas">
        <div class='ticket'>
            <div class="ticket-title"> {{boleta.empleado.nombre}}</div><br>
            <label>Nombre: {{boleta.empleado.apellido}}</label><br>
            <label>Monto: 1000Bs</label><br>
            <div class='date'>23/05/2019</div>
        </div>
    </div>
</div>
