<div class='body'>
    <div class="button-section center">
        <a href = "#!crear-empleado"><button class="button">Registrar empleado</button></a>
        <a href = "#!generar-boletas"><button class="button">Generar boletas</button></a>
    </div>
    <div class='title-section'>
        <h2 class='title'>Lista de empleados</h2>
    </div>
    <div class='table-section'>
        <table class='table'>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Celular</th>
                <th>Opciones</th>
            </tr>
            <tr>
                <td>Juan Carlos</td>
                <td>Bodoque</td>
                <td>jbodoque@31minutos.cl</td>
                <td>77777777</td>
                <td>
                    <i class="far fa-edit icon"></i>
                    <i class="far fa-trash-alt icon"></i>
                </td>
            </tr>
            <tr>
                <td>Juan Carlos</td>
                <td>Bodoque</td>
                <td>jbodoque@31minutos.cl</td>
                <td>77777777</td>
                <td></td>
            </tr>
            <tr>
                <td>Juan Carlos</td>
                <td>Bodoque</td>
                <td>jbodoque@31minutos.cl</td>
                <td>77777777</td>
                <td></td>
            </tr>
            <tr>
                <td>Juan Carlos</td>
                <td>Bodoque</td>
                <td>jbodoque@31minutos.cl</td>
                <td>77777777</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
